:root {
  --bordercol: #52eca4;
  --bgcol: rgb(148, 236, 178);
  --texthighlightcol: #76fdbc;
  --textcol: #464646;
  --sectioncol: #55f994;
}

body {
  background-color: var(--bgcol);
  margin-left: 40px;
  margin-right: 40px;
}

#Welding {
  text-align: center;
  color: var(--textcol);
  background: var(--texthighlightcol);
  border: var(--bordercol) 4px solid;
}

#h1_2 {
  text-align: center;
  background-color: var(--sectioncol);
  padding-bottom: 20px;
}
#question1 {
  display: inline-block;
  text-align: center;
  align-content: left;
  padding-right: 100px;
}
#Whyh {
  color: var(--textcol);
  background-color: var(--texthighlightcol);
  border: var(--bordercol) 4px solid;
}
#Whyp {
  color: var(--textcol);
  background-color: var(--texthighlightcol);
  border: var(--bordercol) 4px solid;
  width: 400px;
}
#question2 {
  display: inline-block;
  text-align: center;
  align-content: right;
  padding-left: 100px;
}

#Whath {
  color: var(--textcol);
  background-color: var(--texthighlightcol);
  border: var(--bordercol) 4px solid;
}

#Whatp {
  color: var(--textcol);
  background-color: var(--texthighlightcol);
  width: 400px;
  border: var(--bordercol) 4px solid;
}

#h3_4 {
  text-align: center;
  background-color: var(--sectioncol);
  padding-top: 20px;
}

#question3 {
  display: inline-block;
  text-align: center;
  align-content: left;
  padding-right: 100px;
}

#lh1 {
  color: var(--textcol);
  background-color: var(--texthighlightcol);
  border: var(--bordercol) 4px solid;
}

#pl1 {
  color: var(--textcol);
  width: 400px;
}

#question4 {
  display: inline-block;
  text-align: center;
  align-content: right;
  padding-left: 100px;
}

#orl1 {
  text-align: left;
  color: var(--textcol);
  background-color: var(--texthighlightcol);
  border: var(--bordercol) 4px solid;
}

#Benh {
  color: var(--textcol);
  text-align: center;
  background-color: var(--texthighlightcol);
  border: var(--bordercol) 4px solid;
}

#Benp {
  color: var(--textcol);
  text-align: center;
  background-color: var(--texthighlightcol);
  width: 400px;
  border: var(--bordercol) 4px solid;
}

#imgsd {
  text-align: center;
}

#imgs1 {
  display: inline-block;
  width: 200px;
  height: 125px;
  padding-right: 200px;
  border: var(--bordercol) 4px solid;
  vertical-align: center;
  background-color: var(--sectioncol);
}

#imgs2 {
  display: inline-block;
  width: 200px;
  height: 125px;
  padding-left: 200px;
  border: var(--bordercol) 4px solid;
  vertical-align: center;
  background-color: var(--sectioncol);
}

#embeddiv1 {
  text-align: center;
  align-content: center;
  background-color: var(--bordercol);
  background-size: 30px;
}
