:root {
  --bordercol: #1d334e;
  --bgcol: #0b132b;
  --texthighlightcol: #1c2541;
  --textcol: #868686;
  --sectioncol: #3a506b;
}

body {
  background-color: var(--bgcol);
  margin-left: 40px;
  margin-right: 40px;
}

#head {
  text-align: center;
  background-color: var(--sectioncol);
  padding-bottom: 20px;
}

#Welding {
  text-align: center;
  color: var(--textcol);
  background: var(--texthighlightcol);
  border: var(--bordercol) 4px solid;
}

#hq {
  color: var(--textcol);
  background-color: var(--texthighlightcol);
  border: var(--bordercol) 4px solid;
}

#questionright {
  display: inline-block;
  text-align: center;
  align-content: right;
  padding-right: 100px;
}

#questionleft {
  display: inline-block;
  text-align: center;
  align-content: left;
  padding-left: 100px;
}

#lh1 {
  color: var(--textcol);
  background-color: var(--texthighlightcol);
  border: var(--bordercol) 4px solid;
}

#pl1 {
  color: var(--textcol);
  width: 400px;
}

#orl1 {
  text-align: left;
  color: var(--textcol);
  background-color: var(--texthighlightcol);
  border: var(--bordercol) 4px solid;
}
#pq {
  color: var(--textcol);
  text-align: center;
  background-color: var(--texthighlightcol);
  width: 400px;
  border: var(--bordercol) 4px solid;
}

#imgsd {
  text-align: center;
}

#imgs1 {
  display: inline-block;
  width: 200px;
  height: 125px;
  padding-right: 200px;
  border: var(--bordercol) 4px solid;
  vertical-align: center;
  background-color: var(--sectioncol);
}

#imgs2 {
  display: inline-block;
  width: 200px;
  height: 125px;
  padding-left: 200px;
  border: var(--bordercol) 4px solid;
  vertical-align: center;
  background-color: var(--sectioncol);
}

#embeddiv1 {
  text-align: center;
  align-content: center;
  background-color: var(--bordercol);
  background-size: 30px;
}

#LinkBar {
  text-align: center;
  border: var(--bordercol) 4px solid;
  background-color: var(--sectioncol);
}

#AboutLink {
  padding-right: 30px;
  color: rgb(123, 123, 255);
}

#HomeLink {
  padding-left: 30px;
  color: rgb(123, 123, 255);
}
